* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: url("../imgfondo/fondo.png");
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}



#menu {
    height: auto;
    margin: 10px;
    background-color: rgb(99, 97, 97);
    padding: 10px 0px 10px 20px;
    text-align: center;
}

#menu a {
    color: white;
    text-decoration: underline;
    border-right: solid;
    padding-right: 20px;
    padding-left: 20px;
    border-left: solid;
    margin-left: 40px;

}

#menu a:hover {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
    color: blue;;
}


* h1 {
    padding: 20px 50px 20px 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    float: left;
    color: white;
    border-right: solid;

}

* h2 {
    padding: 20px 50px 20px 10px;;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    color: white;
}

header p {
    padding-top: 8%;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
}



table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
}

table th {
    background-color: rgb(99, 97, 97);
    border-style: solid;
    color: white;
    padding: 10px;
}

#candidatos  a{
color: red;
}

#candidatos  a:hover{
text-decoration: none;
color: blue;
}


table tr td {
    border-style: solid;
    color: rgb(99, 97, 97);
    background-color: white;

}

table th a {
    color: white;
    
}

* h3 {
    padding: 20px 50px 15px 10px;
    ;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: white;
}

#list ol a {
    color: rgb(236, 18, 18);
    padding: 10px 10px;
    margin-left: 10px;
}

#list a:hover {
    color:  blue;
}


a h3 {
    color: white;
    text-decoration: underline;
}

a h3:hover {
    text-decoration: none;
    color:  blue;
}


footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: double;
    clear: both;
    height: 66px;
    text-align: center;
    color: black;
    background-color: white;
   
}