* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: url("../imgfondo/fondo.png");
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: block;

}



header {
    height: 100px;
    width: 100%;
}

* h1 {
    padding: 20px 50px 20px 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    float: left;
    color: white;
    border-right: solid;

}

* h3 {
    padding: 20px 50px 20px 10px;
    ;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    color: white;
}

#menu {

    height: auto;
    margin: 10px;
    background-color: rgb(99, 97, 97);
    padding: 10px 0px 10px 20px;
    text-align: center;

}

#menu a {
    color: white;
    text-decoration: underline;
    border-right: solid;
    padding-right: 20px;
    margin-left: 40px;
    text-align: left;

}

#menu a:hover {
    text-decoration: none;
}

main {
    display: flex;
    height: 400px;
    width: 100%;
    border: solid;
}

#introduccion {
    padding: 50px;
    margin: 40px;
    float: left;
    text-align: justify;
    border: double;
    font-size: 20px;
}

#video {
    padding: 40px 50px 30px 10px;;
    float: left;
    margin-right: 10px;
}

#video p{
    margin-top: 10px;
    text-align: center;
}

footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: double;
    clear: both;
    height: 66px;
    text-align: center;
    color: black;
    background-color: white;
   
}